.payment_method_paypo .payment_box_logo {
    display: block!important;
    float: none!important;
    width: 100%;
    height: auto;
    max-height: unset!important;
}
.payment_method_paypo .payment_box_desc {
    margin-top: 20px;
}